<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="<%=assetPath('css/chat_box.css')%>" >
    </head>
</html>
<body>
    <div id="user-chat-box">
        <div class="flex-wrapper" style="height:3rem;background-color: lightblue;">
            <div>
                <img src="<%=profileUser.avatar%>" width="30" height="30">
            </div>
            <div class="text">
                <a href="/users/profile/<%=profileUser._id%>"><%=profileUser.name%></a>
            </div>
        </div>
        <ul id="chat-messages-list">
            <% if(messages) { %>
                <% for (message of messages) { %>
                    <% if(message.sender==locals.user.id) { %>
                        <li class="self-message">
                            <span>
                                <%=message.content%>
                            </span>  
                        </li>
                    <% } else { %>
                        <li class="other-message">
                            <span><%=message.content%></span>
                        </li>
                    <% } %>
                <% } %>
            <% } %>
    
        </ul>
        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type message here">
            <button id="send-message">Send</button>
        </div>
    
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="<%=assetPath('js/chat_engine.js')%>"></script>
    <script>
        new ChatEngine('user-chat-box','<%=locals.user.email%>','<%=friendship._id%>','<%=locals.user._id%>')
    </script>
</body>